* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}


header {
  background-color: blue;
  height: 150px;
  color: white;
}

header::after{
  content:"";
  display: table;
  clear:both;
}

header .title {
  text-align: center;
}

header .logo {
  float: left;
}

header .writes {
  float: right;
  padding-right: 60px;
}

header .logo img {
  height: 100px;
  padding-left:50px;
}

header .input {
  text-align: center;
  margin-top: 30px;

}
.font {
font-size: 30px;
}


main .container {
  height: 500px;
  width: 500px;
  background-color:blue;
  margin:20px auto ;
}